In [10]:
import pandas as pd

df= pd.read_csv("data/ctrain.txt",sep="\t")
df

,Other,12,15,The system as described above has its greatest application in an arrayed configuration of antenna elements .
0,Other,1,9,The child was carefully wrapped and bound into...
1,Other,1,7,The author of a keygen uses a disassembler to ...
2,Other,2,6,A misty ridge uprises from the surge .
3,Other,1,2,The student association is the voice of the un...
4,Other,4,10,This is the sprawling complex that is Peru 's ...
...,...,...,...,...
7994,Other,2,6,"When the notice is sent by fax , the notice is..."
7995,Other,1,7,The herbicide is derived from a natural antibi...
7996,Other,8,11,"To test this , we placed a kitchen match in th..."
7997,Other,17,18,The farmers and city officials in the region h...
7998,Other,1,5,The surgeon cuts a small hole in the skull and...

In [11]:
len(df[df['Other']!='Other'])

1003

In [11]:
len(df[df['Other']=='Cause-Effect(e2,e1)'])

659

In [12]:
len(df[df['Other']=='Cause-Effect(e1,e2)'])

344

In [12]:
len(df[df['Other']=='Other'])

6996

In [8]:
1003/6996*100

14.336763865065752

In [13]:
6996/659

10.61608497723824

In [14]:
6996/344

20.337209302325583

In [8]:
659*1.5

988.5

In [9]:
344*3

1032